body {
  background-color: #221E22;
  font-family: 'verdana';
  /* font-family:'Courier New' */

}

h1 {
  color: #ECA72C;
}

h2 {
  color: #44355B;
}

h3 {
  color: #F1E5D0;
}

p {
  color: #F1E5D0;
}

table, th, td {
  border: 3px solid #EE5622;
  background-color: #31263E;
  padding: 5pt;
}

.dataTable table{
width: 100%;
}

.dataTable  th{
}

.dataTable td {
}